.container-hero-slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: ghostwhite;
}

.container-hero-slider img {
  width: 100%;
  height: auto;
  order: 2;
  margin-top: -15px;
  position: relative;
  z-index: 1;
  mask-image: linear-gradient(to top, #000 80%, #0000 100%);
}

.hero-txt {
  padding: 0 1rem;
  gap: 16px;
  display: grid;
  place-items: center;
}

.hero-txt h1 {
  font-size: 1.5rem;
}

.hero-txt p {
  font-size: 1rem;
}

.hero-txt a {
  padding: 10px 25px;
  background-color: #2e9eba;
  transition: all 0.275s ease-in;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  width: max-content;
  display: none;
}

.servicios button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.servicios img {
  max-width: 80px;
}

.modal-services {
  width: 100%;
  height: 100dvh;
  background-color: #001a23e6;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 0.3s linear;
  transform-origin: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleY(0);
  padding: 0 1rem;
}

.show-modal {
  transition: all 0.3s linear;
  transform: scaleY(1);
}

.modal-services .modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #48e5c3d7;
  border-radius: 19px;
  padding: 1rem;
  position: relative;
}

.modal-services .modal-container svg {
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.modal-services .modal-container svg:hover {
  transition: all 0.2s linear;
  color: rgb(217, 47, 47);
}

.modal-services .modal-container img {
  width: 80px;
  height: auto;
}

.modal-services .modal-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.modal-services .modal-container div strong {
  font-size: 20px;
}

.nosotros-container img {
  margin-bottom: 30px;
}

.txt h2 {
  margin-bottom: 0;
}

.txt small {
  margin-bottom: 20px;
}

.txt ul {
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  padding-left: 0;
  max-width: 300px;
}

.txt ul button {
  border: none;
  background-color: transparent;
  padding: 7px 10px;
  border-radius: 4px;
  background-color: aliceblue;
  font-size: 1rem;
  transition: all 0.2s linear;
  cursor: pointer;
}

.txt ul button:hover {
  transition: all 0.2s linear;
  background-color: var(--blue-200);
  color: white;
}

.bg-color {
  background-color: transparent;
  background: linear-gradient(180deg, #2e9eba 46%, var(--green-100) 100%);
  margin: 0;
}

.container-appointment {
  background-color: rgba(248, 248, 255, 0.841);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 0 1rem;
}

#infoService a {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: var(--blue-200);
  color: white;
  text-decoration: none;
  transition: all 0.2s linear;
}

#infoService a:hover {
  background-color: white;
  color: var(--blue-200);
  transition: all 0.2s linear;
}

.item_cita a {
  margin-top: 16px;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: white;
  color: var(--blue-200);
  text-decoration: none;
  transition: all 0.2s linear;
}

.item_cita a:hover {
  background-color: var(--green-100);
  transition: all 0.2s linear;
}

small {
  font-size: 14px;
  font-weight: 500;
}

.container-cita {
  grid-template-columns: repeat(1, 1fr);
}

.bg-shape {
  background-image: url(../imagenes/radiology/bg-cita.webp);
}

.item_cita {
  display: grid;
  place-content: center;
  place-items: center;
  padding: 1rem;
  background-color: var(--blue-200);
  border-radius: 12px;
}

.servicios {
  place-content: center;
}

.grid-gallery img {
  height: 100%;
  object-fit: cover;
}

.logo_nav {
  padding: 0 !important;
}

.logo_nav a img {
  width: 100% !important;
  max-width: 250px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navegador-container {
  -webkit-box-shadow: 0px 14px 17px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 17px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 17px -11px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 100;
}

@media (min-width: 768px) {
  .container-hero-slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container-hero-slider img {
    mask-image: linear-gradient(to left, #000 50%, #0000 100%);
    margin-top: 0;
    width: 100%;
    transform: translateX(-200px);
    width: calc(100% + 200px) !important;
  }

  .hero-txt {
    padding-left: 50px;
  }

  .hero-txt p {
    font-size: 1.2rem;
    max-width: 400px;
  }

  .modal-services .modal-container {
    max-width: 450px;
  }

  .txt small {
    margin-bottom: 5px;
  }

  .servicios img {
    max-width: 100px;
  }

  .container-cita {
    place-content: center;
    grid-template-columns: repeat(2, minmax(200px, 400px));
  }
}

@media (min-width: 1024px) {
  .logo_nav {
    width: 100% !important;
    justify-content: flex-start !important;
  }

  .logo_nav a img {
    padding-left: 20px;
  }

  .hero-txt {
    padding-left: 80px;
  }

  .hero-txt h1 {
    font-size: 1.7rem;
    text-wrap: nowrap;
  }

  .hero-txt p {
    font-size: 1.2rem;
  }
}